// hmm
// what  #{$version}
// lolnoextra
//
// bad comment
.a {
  .nested {
    color: #000 !    important;
  }

  padding: 1px;
  font-size: 12px !important;
  border: 0;
}

.b { border: 0 1px;
}

.c,.d {
  border-bottom: 1px solid $alto;
}

.space {
  @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.2));

  $my-color: #fff;

  color: rgba(0, 0, 0, 0.1);
  width: 5+5;content: "hello";
}

.empty {

}
// Photos pages svg styles
