.test {
  margin: .500em;
  margin: .5em;
  margin: 1.250em;
  margin: .6000000em;
  margin: 1.0em;

  .test-2 {
    margin: ".500em";
    margin: .5em;
    margin: "1.250em";
    margin: .6000000em;
    margin: "1.0em";
  }
}
