.rule1 {
  @extend %placeholder;

  @extend %placeholder-2;

  color: $black;
  display: block;
  margin: 20px 0;

  @extend %placeholder2;

  padding: 10px;
  text-transform: uppercase;

  .secondary-rule {
    color: $black;
    display: inline-block;
    padding: 10px 0;

    @include box-shadow(border-box);

    position: absolute;
  }
}
