.test {
  border-color: $silver transparent transparent;
  margin: 1px;
  padding: 1px 5px;
}

.test2 {
  padding: 2px 5px 1px;
  margin: 5px 1px 6px 4px;
}

.more-test {
  margin: 10px 2px 4px;
  padding: 14px;
  border-color: red green;
}
