$text-color: #1F212D;
$highlight-color: #7382AD;
$webfont: "Satisfy", sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  color: $text-color;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.button {
  cursor: pointer;
}

.submit-button {
  background-color: $highlight-color;
  border: 1px solid $text-color;
  border-radius: 2px;
  display: inline-block;
  font-family: $webfont;
  font-size: 18px;
  padding: 10px 20px;

  &:hover {
    background-color: darken($highlight-color, 5%);
  }
}

.header {
  background-color: $highlight-color;
  border-bottom: 2px solid $text-color;
  font-family: $webfont;
  height: 80px;
}

.header-contents {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.logo {
  float: left;
  font-size: 48px;
  position: relative;
  top: 6px;
}

.links {
  float: right;
  height: 80px;

  a {
    position: relative;
    top: 16px;
  }
}

.link-img {
  height: 50px;
  width: 50px;
}

.main-body {
  margin: 50px auto 0;
  max-width: 960px;
  position: relative;
  width: 100%;
}

.half {
  float: left;
  width: calc(50% - 7.5px);

  &:first-child {
    margin-right: 15px;
  }
}

.submit-container {
  margin-top: 15px;
  text-align: center;
}

.cf,
.cf::before,
.cf::after {
  clear: both;
}

.input-title {
  margin-bottom: 15px;
}

.scss-ta {
  font-family: Courier, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: calc(100vh - 250px);
  padding: 15px;
  resize: none;
  width: 100%;
}
